/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #981e32;
  background-image: -moz-linear-gradient(top, #981e32 0%, #981e32 100%);
  background-image: -ms-linear-gradient(top, #981e32 0%, #981e32 100%);
  background-image: -o-linear-gradient(top, #981e32 0%, #981e32 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #981e32), color-stop(1, #981e32));
  background-image: -webkit-linear-gradient(top, #981e32 0%, #981e32 100%);
  background-image: linear-gradient(top, #981e32 0%, #981e32 100%);
}
a {
  color: #0070b3;
}
a:hover,
a:focus {
  color: #008ee2;
}
a:active {
  color: #22adff;
}
.sidebar .block {
  background-color: #ffffff;
  border-color: #d0d0d0;
}
#page-wrapper,
#footer-wrapper {
  background: #333333;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}
